<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <script src="https://kit.fontawesome.com/c0c3f998d0.js" crossorigin="anonymous"></script>
    <link rel="icon" href="to-do-list-apps.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Tinos&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <ul>
            <form action="/home" method="post">
                <div class="input-icon-container">
                    <i class="fa-solid fa-house"></i>
                    <input type="submit" value="Home">
                </div>
            </form>
            <form action="/work" method="post">
                <div class="input-icon-container">
                    <i class="fas fa-solid fa-briefcase"></i>
                    <input type="submit" value="Work">
                </div>
            </form>
            <li><a href="#todoForm"><i class="fa-solid fa-plus"></i>Add new</a></li>
        </ul>
    </nav>
    <div class="work_list heading">
        <h1>Today list (<%= today %>-<%= month %>-<%= year %>)</h1>
    </div>
    <div id="container" class="container">
        <% data.forEach(function(item) { %>
            <div class="item">
                <%= item.name %>
                <input type="checkbox" class="check" style="float: left;">
            </div>
            <% }); %>
    </div>

    <form action="/form" method="post" id="todoForm">
        <div class="submitbutton">
            <input type="text" name="todoname" class="todoname" placeholder="Enter item">
            <input type="submit" class="addnewbtn" value="Add new">
        </div>
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const todoForm = document.getElementById("todoForm");

            todoForm.addEventListener("submit", function (event) {
                event.preventDefault();
                const name = document.querySelector(".todoname").value;
                const parentElement = document.getElementById("container");
                const newitem = document.createElement("div");
                newitem.classList.add("item");
                newitem.textContent = name;
                parentElement.appendChild(newitem);
                const addinputbox = document.createElement("input");
                addinputbox.type = "checkbox";
                addinputbox.style.float = "left";
                addinputbox.classList.add("check");
                newitem.appendChild(addinputbox);
                newitem.style.textAlign = "centre";
            });
        });
    </script>

    <section id="footer">
        <p>
            <a href="" class="ic1">
                <i class="fa-brands fa-twitter ic2"></i>
            </a>
            <a href="" class="ic1">
                <i class="fa-brands fa-facebook ic2"></i>
            </a>
            <a href="" class="ic1">
                <i class="fa-brands fa-instagram ic2"></i>
            </a>
            <a href="" class="ic1">
                <i class="fa-solid fa-envelope ic2"></i>
            </a>
        </p>
        <p class="footer_p">© Copyright <%= year %> Todo list</p>
    </section>
</body>

</html>

<style>
    html {
        background-color: #e4e9fd;
        background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
        min-height: 1000px;
        font-family: "helvetica neue";
    }

    ul {
        display: flex;
        list-style: none;
    }

    li {
        margin-left: 40px;
        color: rgb(166, 131, 227);
    }

    a:active {
        color: #ddd;
    }

    .workmode {
        margin-top: 0;
        margin-left: 40px;
        background-color: transparent;
        color: rgb(166, 131, 227);
        border: 0px;
        font-size: 18px;
        display: flex;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        min-height: 95vh;
        font-style: "Times New Roman", Times, serif;
    }

    a {
        text-decoration: none;
    }

    .work_list {
        height: 75px;
        width: 460px;
        background-color: #a683e3;
        color: white;
        text-align: center;
        border-radius: 5px;
        margin: auto;
    }

    .container {
        margin: auto;
        margin-top: 10px;
        width: 460px;
        text-align: center;
    }

    .item {
        padding-top: 35px;
        height: 70px;
        width: 460px;
        font-size: 30px;
        background-color: white;
        border: 0.5px solid rgb(166, 131, 227);
        border-radius: 10px;
    }

    .check {
        margin-left: 20px;
    }

    .submitbutton {
        height: 69px;
        width: 460px;
        margin: auto;
        margin-top: 30px;
        text-align: center;
        background-color: white;
        border-radius: 1px;
        display: flex;
        align-items: center;
    }

    .todoname {
        height: 69px;
        width: 350px;
        border: 1px solid white;
        font-size: 35px;
        font-weight: 300;
    }

    .addnewbtn {
        height: 69px;
        border-radius: 1px;
        width: 160px;
        border: 1px solid white;
        background-color: rgb(166, 131, 227);
        color: white;
        font-size: 20px;
    }

    .input-icon-container {
        margin-left: 40px;
        position: relative;
        background-color: transparent;
        border: 0px solid white;
    }

    /* Style the input field */
    .input-icon-container input {
        padding-left: 24px;
        color: rgb(85, 26, 139);
        border: 0px solid white;
        background-color: transparent;
        /* Adjust the left padding to make space for the icon */
    }

    /* Style the icon */
    .input-icon-container i {
        position: absolute;
        left: 5px;
        /* Adjust the position of the icon */
        top: 50%;
        /* Center the icon vertically */
        transform: translateY(-50%);
        /* Center the icon vertically */
        color: rgb(85, 26, 139);
        /* Adjust the color of the icon */
    }

    #footer {
        margin-top: 150px;
        height: 50px;
        background-color: transparent;
        text-align: center;
        font-size: 25px;
        padding: 10% 15%;
    }

    .ic1 {
        padding-left: 10px;
        color: white;
        text-decoration: none;
    }

    .ic1:hover {
        color: #ddd;
    }

    .ic2:hover {
        text-decoration: none;
    }

    .footer_p {
        margin-bottom: 10%;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: white;
    }
</style>